<div class="top">
  <h1>welcome to <i class="fas fa-book" aria-hidden="true"></i><strong>Bookers </strong>!!</h1>
  <h4>In <i class="fas fa-book" aria-hidden="true"></i><strong>Bookers,</strong><br>you can share and exchange your opinions , inpressions , and emotions<br>about various books!</h4>
  <ul>
    <li>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-info" %>
    </li>
    <li>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %>
    </li>
  </ul>
</div>
