// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.col-xs-9 {
    margin-left: 200px;
    margin-right: -1000px;
}

.W {
    margin-left: 110px;
}